In [2]:
# try avg number of slaves owned vs avg age of enslaver

In [3]:
import altair as alt
import pandas as pd
import numpy as np

In [4]:
data = {'Name':['John Alford', 'Austin Ebenezer', 'John Dowse', 'Joseph Lynde', 'William Wyer', 'Robert Temple'],
 'Occupation':['Captain', 'Silversmith', 'Captain', 'Merchant', 'Sail Maker', 'Captain'],
 'Number_of_Enslaved':[3, 3, 3, 3, 3, 6]}

df = pd.DataFrame(data)

df

              Name   Occupation  Number_of_Enslaved
0      John Alford      Captain                   3
1  Austin Ebenezer  Silversmith                   3
2       John Dowse      Captain                   3
3     Joseph Lynde     Merchant                   3
4     William Wyer   Sail Maker                   3
5    Robert Temple      Captain                   6

In [5]:
slave_occupation_df = pd.DataFrame({'Count':[3, 1, 1, 1],
 'Occupation':['Captain', 'Silversmith', 'Merchant', 'Sail Maker'],
 'Avg_Number_of_Enslaved':[4.5, 3, 3, 3],
 'Avg_Age_Enslaver': [51, 42, 73, 67],
 'Num_Slaves': [12, 3, 3, 3]})

slave_occupation_df

   Count   Occupation  Avg_Number_of_Enslaved  Avg_Age_Enslaver  Num_Slaves
0      3      Captain                     4.5                51          12
1      1  Silversmith                     3.0                42           3
2      1     Merchant                     3.0                73           3
3      1   Sail Maker                     3.0                67           3

In [10]:
brush_legend = alt.selection_point(
    fields = ["Occupation"],
    bind="legend" 
)

bubble_chart = alt.Chart(slave_occupation_df).mark_circle(tooltip=True).encode(
    x='Occupation:N',    
    y=alt.Y('Avg_Age_Enslaver:Q', title='Average Age of Enslaver'),
    size='Count:Q',
    color=alt.condition(brush_legend, 'Occupation:N', alt.value('lightgray')),
    tooltip=['Count', 'Avg_Number_of_Enslaved']
).configure_axis(
    grid=False
).properties(
    width=300,
    height=200,
    title='Bubble Chart of Male Occupations owning 3 or More Slaves'
).add_params(
    brush_legend
)


bubble_chart

alt.Chart(...)