In [1]:
import altair as alt
import pandas as pd

In [58]:
df_listed = pd.read_csv('species-listings-by-year-totals-report.csv')

#turn it into dict with keys as years
#Use to_dict after setting index as year
listed_counts_dict = df_listed.set_index('Calendar Year')['Number of Species Listings'].to_dict()

#if there is a missing year, aka there was no species listed, add year and set val = 0
for i in range(1968, 2025):
    if i not in listed_counts_dict.keys():
        listed_counts_dict[i] = 0

listed_counts_dict

{2024: 3,
 2023: 26,
 2022: 7,
 2021: 10,
 2020: 4,
 2019: 4,
 2018: 5,
 2017: 9,
 2016: 73,
 2015: 27,
 2014: 36,
 2013: 83,
 2012: 44,
 2011: 11,
 2010: 54,
 2009: 6,
 2008: 2,
 2006: 12,
 2005: 7,
 2004: 8,
 2003: 2,
 2002: 11,
 2001: 10,
 2000: 40,
 1999: 23,
 1998: 56,
 1997: 78,
 1996: 91,
 1995: 18,
 1994: 128,
 1993: 67,
 1992: 79,
 1991: 80,
 1990: 38,
 1989: 32,
 1988: 47,
 1987: 60,
 1986: 36,
 1985: 59,
 1984: 32,
 1983: 7,
 1982: 11,
 1981: 4,
 1980: 16,
 1979: 37,
 1978: 42,
 1977: 21,
 1976: 35,
 1975: 11,
 1973: 7,
 1972: 3,
 1970: 44,
 1967: 70,
 1968: 0,
 1969: 0,
 1971: 0,
 1974: 0,
 2007: 0}

In [42]:
#get delisted data
df_delisted = pd.read_csv('FWS_Species_Data_Explorer.csv')

#convert into datatime dtype
df_delisted['Delisting Date'] = pd.to_datetime(df_delisted['Delisting Date'], format='%m-%d-%Y')

#make year column only using the year from the datetime
df_delisted['Year'] = df_delisted['Delisting Date'].dt.year

df_delisted['Year']

0      2016
1      2016
2      2016
3      2022
4      2019
       ...
127    2020
128    1987
129    1983
130    2015
131    1983
Name: Year, Length: 132, dtype: int32

In [59]:
# get counts of each year, how many times they appear in df_delisted
delisted_year_counts = df_delisted['Year'].value_counts()

#convert to dict
delisted_counts_dict = delisted_year_counts.to_dict()

#if missing year, set value of year key to 0
for i in range(1968, 2025):
    if i not in delisted_counts_dict.keys():
        delisted_counts_dict[i] = 0

delisted_counts_dict

{2023: 30,
 2016: 16,
 2021: 7,
 2018: 6,
 2019: 4,
 2011: 4,
 1983: 4,
 1985: 4,
 2022: 4,
 2017: 4,
 2013: 4,
 1984: 3,
 2004: 3,
 1993: 3,
 2003: 3,
 1995: 3,
 2007: 2,
 2015: 2,
 1994: 2,
 2000: 2,
 2020: 2,
 1987: 2,
 1999: 2,
 1989: 2,
 1990: 1,
 2009: 1,
 2012: 1,
 1982: 1,
 1978: 1,
 2006: 1,
 2014: 1,
 2008: 1,
 2002: 1,
 1996: 1,
 2024: 1,
 2010: 1,
 2005: 1,
 2001: 1,
 1968: 0,
 1969: 0,
 1970: 0,
 1971: 0,
 1972: 0,
 1973: 0,
 1974: 0,
 1975: 0,
 1976: 0,
 1977: 0,
 1979: 0,
 1980: 0,
 1981: 0,
 1986: 0,
 1988: 0,
 1991: 0,
 1992: 0,
 1997: 0,
 1998: 0}

In [61]:
#1967 = 70
# starting in 1967, using range function, take the previous years number, add the listed value subtract the delisted value and assign it to the actual number of endangered df
total_dict = {1967:70}

for i in range(1968, 2025):
    total_dict[i] = total_dict[i-1] + listed_counts_dict[i] - delisted_counts_dict[i]  

total_dict

{1967: 70,
 1968: 70,
 1969: 70,
 1970: 114,
 1971: 114,
 1972: 117,
 1973: 124,
 1974: 124,
 1975: 135,
 1976: 170,
 1977: 191,
 1978: 232,
 1979: 269,
 1980: 285,
 1981: 289,
 1982: 299,
 1983: 302,
 1984: 331,
 1985: 386,
 1986: 422,
 1987: 480,
 1988: 527,
 1989: 557,
 1990: 594,
 1991: 674,
 1992: 753,
 1993: 817,
 1994: 943,
 1995: 958,
 1996: 1048,
 1997: 1126,
 1998: 1182,
 1999: 1203,
 2000: 1241,
 2001: 1250,
 2002: 1260,
 2003: 1259,
 2004: 1264,
 2005: 1270,
 2006: 1281,
 2007: 1279,
 2008: 1280,
 2009: 1285,
 2010: 1338,
 2011: 1345,
 2012: 1388,
 2013: 1467,
 2014: 1502,
 2015: 1527,
 2016: 1584,
 2017: 1589,
 2018: 1588,
 2019: 1588,
 2020: 1590,
 2021: 1593,
 2022: 1596,
 2023: 1592,
 2024: 1594}

In [79]:
total_df = pd.DataFrame(list(total_dict.items()), columns=['Calendar Year', 'Number of Endangered Species'])

total_df.head(15)

    Calendar Year  Number of Endangered Species
0            1967                            70
1            1968                            70
2            1969                            70
3            1970                           114
4            1971                           114
5            1972                           117
6            1973                           124
7            1974                           124
8            1975                           135
9            1976                           170
10           1977                           191
11           1978                           232
12           1979                           269
13           1980                           285
14           1981                           289

In [87]:
alt.Chart(data=total_df).mark_line(point=True).encode(
    x="Calendar Year:N",
    y=alt.Y("Number of Endangered Species:Q", scale=alt.Scale(zero=False))
).properties(
    title = 'Total Number of Endangered Species in the U.S, from 1967 to 2024',
    height= 600)

alt.Chart(...)

In [ ]:
alt.Chart(data=df_listed).mark_line(point=True).encode(
    x="Calendar Year:N",
    y=alt.Y("Number of Species Listings:Q", scale=alt.Scale(zero=False))
)

alt.Chart(...)